
#top-menu .col-menu {
}
#top-menu .col-menu ul{
	padding: 5px;
	margin-bottom: 0;
}
#top-menu ul li{

	list-style-type :none;
}
#top-menu ul li:hover {

	font-weight: bold;
	cursor: pointer;
}
#top-menu {
	margin: 20px auto; 
}

#top-menu ul li a:active{

	color: black;
}
.active{
	font-weight: bold;
	color: #007bff;
}